node_modules/
test-results/
allure-results/
allure-report/
html-report/
Downloads/
html-report.zip
.env
# .env.*
.DS_Store
/har
/logs/
visualComparision.test.ts-snapshots/
appData.json
!appData.json.enc